@import "./base.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.el-tabs {
  padding-top: 9.5vh;
}
.el-tabs__item {
  font-family: work-sans-semi, serif;
  font-size: 26px;
}
.el-tabs__item.is-active {
  color: black;
  font-family: work-sans, serif;
}
.el-tabs__active-bar {
  background-color: #ffc740 !important;
  /*background-image: linear-gradient(90deg, transparent 0, transparent 15%, #ffc740 0, #ffc740 85%, transparent 0, transparent);*/
  height: 3px;
}
.el-tabs__content {
  padding: 4% 2%;
}
.el-tab-pane > :first-child {
  margin-top: 2% !important;
}
.el-footer {
  --el-footer-padding: 0 0px;
}
.el-menu-item-group__title {
  padding: 0;
}
.el-calendar-table .el-calendar-day{
  width: 58px;
  height: 58px;
  padding: 5px 0px 0px 5px;

}
.el-calendar__body {
  padding: 5px 5px 5px;
}
.el-menu--horizontal>.el-sub-menu .el-sub-menu__icon-arrow {
  display: none;      /* 取消navi bar中的箭头 */
}
.el-menu--horizontal {
  border-bottom: hidden;  /* 取消navi bar中自带的下划线，因为与Aide.vue style的冲突，这是比较笨的方法 */
}
.prev {
  width: 50px;
}
.el-menu--horizontal>.el-sub-menu.is-active .el-sub-menu__title {
  border-bottom: none;
  color: transparent;
}

/*.el-sub-menu__title {*/
/*  height: 35px;*/
/*  line-height: 35px;*/
/*  text-size: 12px;*/
/*}*/


/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/

/*  font-weight: normal;*/
/*}*/

/*a,*/
/*.green {*/
/*  text-decoration: none;*/
/*  color: hsla(160, 100%, 37%, 1);*/
/*  transition: 0.4s;*/
/*}*/

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: flex;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
